/* font 국문 프리텐다드 / 영문 어바니스트*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 */

/* font-size adjustment */
html {
   font-size: max(8px, 0.5208vw);
}
::selection {
   background-color: var(--primary);
   color: var(--black);
}
/* ----------------------------- Variable ----------------------------- */
:root {
   --primary: #cafa00;
   --secondary: #006cfa;
   --bgColor: #2c2c2c;
   --white: #f5f5f5;
   --black: #222;
}

body {
   background-color: black;
   color: #f5f5f5;
}
/* ----------------------------- section header ----------------------------- */
.section {
   .section-header {
      width: 164rem;
      margin: 10rem auto 3.6rem;
      font-weight: 700;
      font-size: 8rem;
   }
}
/* ----------------------------- section 2 ----------------------------- */
.sec-2 {
   > .content-wrap {
      display: flex;
      flex-direction: column;
   }
}

.sec-2 > .content-wrap .scroll-ani {
   --transition-duration: 0.6s;
   --transition-delay: 0.3s;

   display: flex;
   flex-direction: column;
   gap: 1.2rem;

   /* card common setting */
   .card {
      position: relative;
      height: 50dvh;
      width: 100%;
      overflow: hidden;
      transition: all var(--transition-duration);

      > .img-box {
         width: 100%;
         height: 100%;
         position: relative;
         line-height: 0;
         transition: inherit;

         img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            transition: inherit;
         }
         &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: inherit;
         }
      }

      > .text-box {
         position: absolute;
         top: 50%;
         left: 2.5%;
         transform: translate(0%, -50%);
         color: var(--white);
         line-height: 1;
         text-align: left;
         transition: inherit;

         > h3 {
            font-size: 6.4rem;
            font-weight: 700;
            transition: inherit;
         }

         > p {
            opacity: 0;
            height: 0;
            transition: inherit;
         }
      }
   }

   .card.active {
      height: 100dvh;

      > .img-box {
         &::after {
            background-color: rgba(0, 0, 0, 0.2);
         }
      }

      > .text-box {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;

         > h3 {
            font-size: 14.2rem;
            font-weight: 700;
         }

         > p {
            opacity: 1;
            margin-top: 3.6rem;
            font-size: 4.8rem;
            font-weight: 800;
            height: auto;
         }
      }
   }
}
